.container {
    height: 50vh;
    width: 60vw;
}

.table {
    margin-left: 2rem;
}

.table-head {
    background-color: lightslategray;
}

.idColumn {
    width: 4rem
}

.row {
    max-height: 6rem;
}