.container {
    height: 50vh;
    width: 60vw;
}

.tableContainer {
    overflow: scroll;
    height: 50vh;
}

.table {
    margin-left: 2rem;
}

.table-head {
    background-color: lightslategray;
}

.idColumn {
    width: 4rem
}

.row {
    max-height: 6rem;
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
    }
    .tableContainer {
        height: initial;
    }
    .table {
        margin-left: 0;
        margin-top: 0.5rem;
    }
}